 


 <!-- Page Content-->
 <div class="container px-4 px-lg-5">
    <!-- Heading Row-->
    <div class="row gx-4 gx-lg-5 align-items-center my-5">
        <!-- Carousel wrapper -->
<div
id="carouselVideoExample"
data-mdb-carousel-init class="carousel slide carousel-fade"
data-mdb-ride="carousel"
>
<!-- Indicators -->
<div class="carousel-indicators">
  <button data-mdb-button-init
    type="button"
    data-mdb-target="#carouselVideoExample"
    data-mdb-slide-to="0"
    class="active"
    aria-current="true"
    aria-label="Slide 1"
  ></button>
  <button data-mdb-button-init
    type="button"
    data-mdb-target="#carouselVideoExample"
    data-mdb-slide-to="1"
    aria-label="Slide 2"
  ></button>
  <button data-mdb-button-init
    type="button"
    data-mdb-target="#carouselVideoExample"
    data-mdb-slide-to="2"
    aria-label="Slide 3"
  ></button>
</div>

<!-- Inner -->
<div class="carousel-inner">
  <!-- Single item -->
  <div class="carousel-item active">
    <video class="img-fluid" autoplay loop muted>
      <source src="https://mdbcdn.b-cdn.net/img/video/Tropical.mp4" type="video/mp4" />
    </video>
    <div class="carousel-caption d-none d-md-block">
      <h5>First slide label</h5>
      <p>
        Nulla vitae elit libero, a pharetra augue mollis interdum.
      </p>
    </div>
  </div>

  <!-- Single item -->
  <div class="carousel-item">
    <video class="img-fluid" autoplay loop muted>
      <source src="https://mdbcdn.b-cdn.net/img/video/forest.mp4" type="video/mp4" />
    </video>
    <div class="carousel-caption d-none d-md-block">
      <h5>Second slide label</h5>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
      </p>
    </div>
  </div>

  <!-- Single item -->
  <div class="carousel-item">
    <video class="img-fluid" autoplay loop muted>
      <source
        src="https://mdbcdn.b-cdn.net/img/video/Agua-natural.mp4"
        type="video/mp4"
      />
    </video>
    <div class="carousel-caption d-none d-md-block">
      <h5>Third slide label</h5>
      <p>
        Praesent commodo cursus magna, vel scelerisque nisl consectetur.
      </p>
    </div>
  </div>
</div>
<!-- Inner -->

<!-- Controls -->
<button data-mdb-button-init
  class="carousel-control-prev"
  type="button"
  data-mdb-target="#carouselVideoExample"
  data-mdb-slide="prev"
>
  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
  <span class="visually-hidden">Previous</span>
</button>
<button data-mdb-button-init
  class="carousel-control-next"
  type="button"
  data-mdb-target="#carouselVideoExample"
  data-mdb-slide="next"
>
  <span class="carousel-control-next-icon" aria-hidden="true"></span>
  <span class="visually-hidden">Next</span>
</button>
</div>
<!-- Carousel wrapper -->
        <!-- <div class="col-lg-7"><img class="img-fluid rounded mb-4 mb-lg-0" src="../../assets/img/favorite-web-browser.jpg" alt="..." /></div> -->
        <!-- <img src={require('./my-path/images/my-image.png')}/> -->
        <!-- <div class="col-lg-7"><img class="img-fluid rounded mb-4 mb-lg-0" src="../../../src/assets/img/logo.png" alt="..." /></div> -->
        <div class="col-lg-5">
            <h1 class="font-weight-light">How to Find Favorites Website</h1>
            <p>Show bookmarks bar.
                On your computer, Open Favorite Website Link.
                In the address bar, enter bookmarks.
                Press Tab or Space. You can also select Search bookmarks. in the suggestions.
                Enter keywords for the bookmark you want.
                Select your bookmark from the list.
            </p>
            <a class="btn btn-primary" href="#!">Explore Favorite Website</a>
        </div>
    </div>
    <!-- Call to Action-->
    <div class="card text-white bg-secondary my-5 py-4 text-center">
        <div class="card-body"><p class="text-white m-0" style="font-size: xx-large;">
            Easy to Excess the Favorite Website in to the six 
            website page clicking the link provided.
        </p></div>
    </div>


<!-- Content Row-->
<div class="row gx-4 gx-lg-5">
    <div class="col-md-4 mb-5">
        <div class="card h-100">
            <div class="card-body">
                <h2 class="card-title" style="color:red;">Youtube</h2>
                <p class="card-text" style="color:green;">
                    YouTube is an American online video sharing platform owned by Google. 
                    Accessible worldwide,[note 1] YouTube launched on February 14, 2005, 
                    by Steve Chen, Chad Hurley, and Jawed Karim, three former employees of PayPal. 
                    Headquartered in San Bruno, California, United States, it is the second most visited 
                    website in the world, after Google Search.
                </p>
            </div>
            <div class="card-footer"><a class="btn btn-primary btn-sm" 
                href="https://www.youtube.com/">
                More Info</a></div>
        </div>
        
    </div>

    <div class="col-md-4 mb-5">
        <div class="card h-100">
            <div class="card-body">
                <h2 class="card-title"  style="color:red;">TED Talks</h2>
                <p class="card-text" style="color:green;">
                    <p class="card-text" style="color:green;">
                        A TED talk is a recorded public-speaking presentation 
                        that was originally given at the main TED (technology,
                         entertainment and design) annual event or one of its many satellite 
                         events around the world. TED is a nonprofit devoted to spreading ideas, 
                         usually in the form of short, powerful talks, often called "TED talks."
                    </p>
            </div>
            <div class="card-footer"><a class="btn btn-primary btn-sm" 
                href="https://www.ted.com/talks">
                More Info</a></div>
        </div>
    </div>
    <div class="col-md-4 mb-5">
        <div class="card h-100">
            <div class="card-body">
                <h2 class="card-title" style="color:red;">Stack Over Flow</h2>
                <p class="card-text" style="color:green;">
                    Stack Overflow is a question-and-answer website for computer programmers.
                     It is the flagship site of the Stack Exchange Network.
                      It was created in 2008 by Jeff Atwood and Joel Spolsky.
                      It features questions and answers on certain computer programming topics
                </p>
        
            </div>
            <div class="card-footer"><a class="btn btn-primary btn-sm" 
                href="https://stackoverflow.com/">
                More Info</a></div>
        </div>
    </div>
    <div class="col-md-4 mb-5">
        <div class="card h-100">
            <div class="card-body">
                <h2 class="card-title" style="color:red;">W3 School</h2>
                <p class="card-text" style="color:green;">
                    W3Schools is a freemium educational website for learning coding online.
                     Initially released in 1998, it derives its name from the World Wide Web but
                      is not affiliated with the W3 Consortium.
                       W3Schools offers courses covering many aspects of web development.
                       W3Schools also publishes free HTML templates. It is run by Refsnes Data in Norway.
                </p>
            </div>
            <div class="card-footer"><a class="btn btn-primary btn-sm" 
                href="https://www.w3schools.com/">
                More Info</a></div>
        </div>
    </div>
    <div class="col-md-4 mb-5">
        <div class="card h-100">
            <div class="card-body">
                <h2 class="card-title" style="color:red;">Github</h2>
                <p class="card-text" style="color:green;">
                    GitHub (/ˈɡɪthʌb/) is a developer platform that allows developers to create,
                     store, manage and share their code. It uses Git software,
                      providing the distributed version control of Git plus access control, 
                      bug tracking, software feature requests, task management,
                       continuous integration, and wikis for every project.
                        Headquartered in California, it has been a subsidiary of Microsoft since 2018.
                </p>
            </div>
            <div class="card-footer"><a class="btn btn-primary btn-sm"
                 href="https://github.com/">
                 More Info</a></div>
        </div>
    </div>
    <div class="col-md-4 mb-5">
        <div class="card h-100">
            <div class="card-body">
                <h2 class="card-title" style="color:red;">Coin Market Cap</h2>
                <p class="card-text" style="color:green;">
                    Coinmarketcap was founded in 2013 by IT programmer Brandon Chez in New York City.
                     By 2018, the website had become one of the most popular in
                      the world, according to The Wall Street Journal.In January 2018, 
                      Coinmarketcap took out South Korean exchanges from its 
                      calculation for prices because the prices there 
                      were consistently higher than in other regions
                </p>
            </div>
            <div class="card-footer"><a class="btn btn-primary btn-sm" 
                href="https://coinmarketcap.com/">
                More Info</a></div>
        </div>
    </div>
</div>

<!-- Add Video Source -->

<div class="card text-white my-5 py-4 text-center">
    <div class="center">
        <!-- <video width="320" height="240" controls style=" align-content: center;">
            <source src="assets/video2.mp4" type="video/mp4"/>
            Your Browser Does Not Support the Video Tag.
        </video> -->
     
        <iframe width="560" height="315" 
        src="https://www.youtube.com/embed/X3GSx1ScAQI?si=N7yreJ2susNDiBoi"
         title="YouTube video player" frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>

          <br>
        
          <br>
          <iframe width="560" height="315" src="https://www.youtube.com/embed/H2o8bMuu2uw?si=FmKuWfNZLyZqrXCm" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
       <br> Your Browser Does Not Support the Video Tag.
    </div>
</div>

<div class="card-body" id="youtube" >

   <div class="center">
    <p class="text-white m-0" style="font-size: x-large; text-align: center;">
        <a href="https://www.youtube.com/watch?v=wzH8bVWrxJg">
            <img class="img-fluid rounded mb-4 mb-lg-0" src="../../assets/img/YouTube.png">
            <br>
            <h4 style="text-align: center;">Check Out My Nepali Song</h4>
        </a>
    
    </p>
   </div>

</div>

 <!-- Footer-->
 <footer class="py-5 bg-dark">
    <div class="container px-4 px-lg-5"><p class="m-0 text-center text-white">Copyright &copy; Your Website 2023</p></div>
</footer>


